body {
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  padding: 100px 50px 50px 40px;
  position: relative;
  top: 50px;
}

h1 {
  font-weight: bold;
  font-style: normal;
  font-family: "Times New Roman";
  font-size: 72px;
  color: #090;
  text-align: center;
}

.container-padding50 {
  padding: 80px 0px 0px 30px;
}

.container-textinput {
  width: 70%;
  display: inline-block;
  padding: 16px;
  font-size: 20px;
  font-family: Helvetica, sans-serif;
}

.container-button {
  width: 20%;
  display: inline-block;
  padding: 16px;
  background-color: green;
  color: white;
  font-size: 20px;
  font-family: Helvetica, sans-serif;

  border: 1px solid green;
  border-radius: 5px;
}

.container-image {
  width: 30%;
  display: block;
  float: left;
  margin-right: 3%;
}
